# Lab 2

In [58]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd
df = pd.read_csv('s3://ia-340-crockett-bucketone561/Baton_Rouge_Police_Crime_Incidents.csv')
df.head()

,INCIDENT NUMBER,CHARGE ID,CHARGE DATE,REPORT DATE,APPROVED DATE,ATTEMPTED OR COMMITTED,STREET ADDRESS,SUBADDRESS,CITY,STATE,...,CRIME AGAINST,NIBRS CODE,NIBRS DESCRIPTION,CENSUS BLOCK GROUP,COUNCIL DISTRICT,CRIME PREVENTION DISTRICT,NEIGHBORHOOD,LONGITUDE,LATITUDE,GEOLOCATION
0,19-082654,AFF2B61F-AC22-46D5-982D-3CA140D57369,09/08/2019 03:08:00 AM,07/14/2021 01:51:06 PM,07/29/2021 09:00:41 AM,COMMITTED,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20-015556,8929E25E-778E-44C0-9387-70ADBD1F02C1,02/18/2020 02:28:00 PM,02/10/2021 10:05:30 AM,02/10/2021 02:25:17 PM,COMMITTED,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25-152907,2797533,05/28/2025 04:10:00 AM,05/28/2025 04:10:25 AM,06/20/2025 03:00:37 AM,COMPLETED,11296 GOODWOOD BLVD,NaN,BATON ROUGE,LA,...,SOCIETY,35B,DRUG EQUIPMENT VIOLATIONS,NaN,6.0,SHERWOOD FOREST,SHERWOOD FOREST,-91.05828,30.44837,POINT (-91.058281 30.448374)
3,25-500467,2798913,04/21/2025 12:00:00 AM,06/19/2025 09:28:00 AM,06/19/2025 02:19:10 PM,COMPLETED,9705 FLORIDA BLVD,NaN,BATON ROUGE,LA,...,PROPERTY,26A,FALSE PRETENSES/SWINDLE/CONFIDENCE GAME,NaN,6.0,NaN,CORTANA / VILLA DEL REY,-91.07835,30.45616,POINT (-91.078353 30.456164)
4,25-158798,2794602,06/12/2025 11:10:00 AM,06/12/2025 11:10:02 AM,06/18/2025 08:41:02 AM,COMPLETED,3430 OSWEGO ST,NaN,BATON ROUGE,LA,...,PROPERTY,290,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,NaN,7.0,NaN,NORTH BATON ROUGE,-91.15530,30.48038,POINT (-91.155296 30.480378)

In [59]:
df.shape #show the number of rows and columns

(156047, 27)

In [60]:
df.describe() #statistical summary of the data

,ZIP CODE,CENSUS BLOCK GROUP,COUNCIL DISTRICT,LONGITUDE,LATITUDE
count,154031.000000,0.0,145496.000000,127621.000000,127621.000000
mean,70808.445482,NaN,7.356910,-91.130187,30.456081
std,111.017541,NaN,2.671397,0.044748,0.038437
min,30083.000000,NaN,1.000000,-91.930000,29.996200
25%,70805.000000,NaN,6.000000,-91.163410,30.429650
50%,70806.000000,NaN,7.000000,-91.141140,30.456010
75%,70814.000000,NaN,10.000000,-91.101960,30.481160
max,79816.000000,NaN,12.000000,-90.162200,31.271000

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156047 entries, 0 to 156046
Data columns (total 27 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   INCIDENT NUMBER            156045 non-null  object
 1   CHARGE ID                  156047 non-null  object
 2   CHARGE DATE                156047 non-null  object
 3   REPORT DATE                156047 non-null  object
 4   APPROVED DATE              156047 non-null  object
 5   ATTEMPTED OR COMMITTED     155014 non-null  object
 6   STREET ADDRESS             135804 non-null  object
 7   SUBADDRESS                 4281 non-null    object
 8   CITY                       154582 non-null  object
 9   STATE                      154707 non-null  object
 10  ZIP CODE                   154031 non-null  float64
 11  DISTRICT                   147724 non-null  object
 12  ZONE                       147724 non-null  object
 13  SUBZONE                    147599 non-null  object
 14  STATUTE TITLE              156047 non-null  object
 15  STATUTE DESCRIPTION        156047 non-null  object
 16  STATUTE CATEGORY           156047 non-null  object
 17  CRIME AGAINST              142724 non-null  object
 18  NIBRS CODE                 142818 non-null  object
 19  NIBRS DESCRIPTION          142723 non-null  object
 20  CENSUS BLOCK GROUP         0 non-null       float64
 21  COUNCIL DISTRICT           145496 non-null  float64
 22  CRIME PREVENTION DISTRICT  20126 non-null   object
 23  NEIGHBORHOOD               145496 non-null  object
 24  LONGITUDE                  127621 non-null  float64
 25  LATITUDE                   127621 non-null  float64
 26  GEOLOCATION                127621 non-null  object
dtypes: float64(5), object(22)
memory usage: 32.1+ MB

In [62]:
#rename columns
df = df.rename(columns={"CRIME AGAINST": "VICTIM"}) 
df.head()

,INCIDENT NUMBER,CHARGE ID,CHARGE DATE,REPORT DATE,APPROVED DATE,ATTEMPTED OR COMMITTED,STREET ADDRESS,SUBADDRESS,CITY,STATE,...,VICTIM,NIBRS CODE,NIBRS DESCRIPTION,CENSUS BLOCK GROUP,COUNCIL DISTRICT,CRIME PREVENTION DISTRICT,NEIGHBORHOOD,LONGITUDE,LATITUDE,GEOLOCATION
0,19-082654,AFF2B61F-AC22-46D5-982D-3CA140D57369,09/08/2019 03:08:00 AM,07/14/2021 01:51:06 PM,07/29/2021 09:00:41 AM,COMMITTED,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20-015556,8929E25E-778E-44C0-9387-70ADBD1F02C1,02/18/2020 02:28:00 PM,02/10/2021 10:05:30 AM,02/10/2021 02:25:17 PM,COMMITTED,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25-152907,2797533,05/28/2025 04:10:00 AM,05/28/2025 04:10:25 AM,06/20/2025 03:00:37 AM,COMPLETED,11296 GOODWOOD BLVD,NaN,BATON ROUGE,LA,...,SOCIETY,35B,DRUG EQUIPMENT VIOLATIONS,NaN,6.0,SHERWOOD FOREST,SHERWOOD FOREST,-91.05828,30.44837,POINT (-91.058281 30.448374)
3,25-500467,2798913,04/21/2025 12:00:00 AM,06/19/2025 09:28:00 AM,06/19/2025 02:19:10 PM,COMPLETED,9705 FLORIDA BLVD,NaN,BATON ROUGE,LA,...,PROPERTY,26A,FALSE PRETENSES/SWINDLE/CONFIDENCE GAME,NaN,6.0,NaN,CORTANA / VILLA DEL REY,-91.07835,30.45616,POINT (-91.078353 30.456164)
4,25-158798,2794602,06/12/2025 11:10:00 AM,06/12/2025 11:10:02 AM,06/18/2025 08:41:02 AM,COMPLETED,3430 OSWEGO ST,NaN,BATON ROUGE,LA,...,PROPERTY,290,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,NaN,7.0,NaN,NORTH BATON ROUGE,-91.15530,30.48038,POINT (-91.155296 30.480378)

In [63]:
df.isnull().sum()

INCIDENT NUMBER                   2
CHARGE ID                         0
CHARGE DATE                       0
REPORT DATE                       0
APPROVED DATE                     0
ATTEMPTED OR COMMITTED         1033
STREET ADDRESS                20243
SUBADDRESS                   151766
CITY                           1465
STATE                          1340
ZIP CODE                       2016
DISTRICT                       8323
ZONE                           8323
SUBZONE                        8448
STATUTE TITLE                     0
STATUTE DESCRIPTION               0
STATUTE CATEGORY                  0
VICTIM                        13323
NIBRS CODE                    13229
NIBRS DESCRIPTION             13324
CENSUS BLOCK GROUP           156047
COUNCIL DISTRICT              10551
CRIME PREVENTION DISTRICT    135921
NEIGHBORHOOD                  10551
LONGITUDE                     28426
LATITUDE                      28426
GEOLOCATION                   28426
dtype: int64

In [64]:
df = df[['INCIDENT NUMBER','CHARGE ID','CHARGE DATE','REPORT DATE','APPROVED DATE','STATUTE TITLE',]]

In [44]:
# Renamed the 'Crime Against' column as 'Victim'. This column had 13,323 missing values so I used df.dropna() to drop all null values.

In [65]:
df['INCIDENT NUMBER']

0         19-082654
1         20-015556
2         25-152907
3         25-500467
4         25-158798
            ...
156042    24-258980
156043    24-289800
156044    24-233843
156045    24-289934
156046    24-225251
Name: INCIDENT NUMBER, Length: 156047, dtype: object